.btn {
    @apply font-semibold py-2 px-4 rounded;

    &:focus {
        @apply outline-none shadow-outline;
    }

    &:hover {
        @apply font-extrabold;
    }
}

.btn-purple {
    @apply bg-purple-400 text-gray-800;

    &:focus {
        @apply bg-purple-600;
    }

    &:hover {
        @apply bg-purple-600;
    }
}
