.input {
    @apply bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight;

    &:focus {
        @apply outline-none bg-white border-purple-500;
    }
}

.input-label {
    @apply block text-gray-500 font-bold mb-1 pr-4;
}

@screen md {
    .input-label {
        @apply text-right mb-0;
    }
}