{% macro dependency(dependency) %}
    <details>
        <summary>
            <label class="m-2">
                <input name="{{ dependency.name }}"
                       type="checkbox"{% if dependency.default %} checked{% endif %}>
                <span>{{ dependency.name }}</span>
            </label>
        </summary>
        <pre><code>{{ depAsXml(dependency) }}</code></pre>
    </details>
{% endmacro %}

{% macro input(input) %}
    <div class="md:flex md:items-center mb-6">
        <div class="md:w-1/3">
            <label class="input-label" for="{{ input.name }}">
                {{ input.display }}
            </label>
        </div>
        <div class="md:w-2/3">
            <input name="{{ input.name }}" id="{{ input.name }}" class="input"{% if input.value %} value="{{ input.value }}"{% endif %}>
        </div>
    </div>
{% endmacro %}
