<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <title>Kotlin Starter</title>
</head>
<body>
<main class="container mx-auto">
    {% block content %}
    {% endblock %}
</main>
</body>
</html>