{% extends "views/@base" %}

{% import "views/#macros" %}

{% block content %}
    <h1 class="text-2xl font-bold text-purple-800 mb-4">Kotlin Starter</h1>
    <form method="post" class="w-full max-w-sm mx-auto">
        {% for input in inputs %}
            {{ input(input) }}
        {% endfor %}

        <div class="mt-4">
            <section>
                <h2 class="category">Features</h2>
                <ul>
                    {% for feature in features %}
                        <label class="m-2">
                            <input name="{{ feature.name }}"
                                   type="checkbox"{% if feature.value %} checked{% endif %}>
                            <span>{{ feature.name }}</span>
                        </label>
                    {% endfor %}
                </ul>
            </section>

            {% for category in dependencies %}
                <section>
                    <h2 class="category">{{ category.key }}</h2>
                    <ul>
                        {% for dependency in category.value %}
                            <li>{{ dependency(dependency) }}</li>
                        {% endfor %}
                    </ul>
                </section>
            {% endfor %}
        </div>
        <button type="submit" class="my-4 w-full btn btn-purple">Submit</button>
    </form>
{% endblock %}
