<dependencies>
    <dependency>
        <groupId>org.jetbrains.kotlin</groupId>
        <artifactId>kotlin-stdlib-jdk8</artifactId>
    </dependency>
{% for dep in dependencies %}
    <dependency>
        <groupId>{{ dep.groupId }}</groupId>
        <artifactId>{{ dep.artifactId }}</artifactId>
        <version>{{ "${" }}{{ dep.version.name }}{{ ".version}" }}</version>
        {% if dep.scope == "Test" %}
            <scope>test</scope>
        {% endif %}
    </dependency>
{% endfor %}
</dependencies>
