<build>
    <sourceDirectory>${project.basedir}/src/main/kotlin</sourceDirectory>
    <testSourceDirectory>${project.basedir}/src/test/kotlin</testSourceDirectory>

    <plugins>

        {% include "starter/pom/plugins/@default" %}

        {% include "starter/pom/plugins/@kotlin" %}

        {% include "starter/pom/plugins/@shade" %}

        {% include "starter/pom/plugins/@ktlint" %}

    </plugins>
</build>
