{% if repositories is not empty %}
<repositories>
    {% for repo in repositories %}
        <repository>
            <id>{{ repo.name }}</id>
            <url>{{ repo.url }}</url>
        </repository>
    {% endfor %}
</repositories>
{% endif %}
