<project>
    <modelVersion>4.0.0</modelVersion>

    <groupId>{{ basePackage }}</groupId>
    <artifactId>{{ name | lower }}</artifactId>
    <version>1.0-SNAPSHOT</version>

    <properties>
        <java.version>{{ javaVersion }}</java.version>
        <kotlin.version>{{ kotlinVersion }}</kotlin.version>
        <kotlin.code.style>official</kotlin.code.style>
        <maven.compiler.target>${java.version}</maven.compiler.target>
        <maven.compiler.source>${java.version}</maven.compiler.source>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <main.class>{{ basePackage }}.{{ name | lower | capitalize }}Kt</main.class>
        <!-- versions -->
        {% for version in versions %}
            <{{version.name}}.version>{{version.value}}</{{version.name}}.version>
        {% endfor %}

    </properties>

    {% include "starter/pom/@dependencies" %}

    {% include "starter/pom/@repositories" %}

    {% include "starter/pom/@dependencyManagement" %}

    {% include "starter/pom/@plugins" %}

</project>
